<h1 mat-dialog-title>{{ data.name | uppercase }}</h1>
<div mat-dialog-content>
  <p>ID: {{ data.id }}</p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [(value)]="selectedType" [(ngModel)]="data.type">
        <mat-option *ngFor="let type of types" value="{{ type.name }}">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(value)]="selectedCategory" [(ngModel)]="data.category">
        <mat-option
          *ngFor="let category of categories"
          value="{{ category.name }}"
        >
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
