:host {
  display: flex;
  justify-content: center;
  height: 80%;
  margin: 0px;
}

mat-card {
  padding: 0;
  margin-top: 20vh;
}

.form {
  width: 350px;
  padding: 25px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title {
  text-align: left;
  width: 100%;
  display: block;
  font-weight: 400;
  margin: 0;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.button {
  display: flex;
  justify-content: flex-end;
}
