<mat-toolbar>
  <section>
    <h1>Files</h1>
    <div>
      <button
        mat-mini-fab
        aria-label="Create File"
        (click)="openDialogCreate()"
      >
        <mat-icon>note_add</mat-icon>
      </button>
    </div>
  </section>
</mat-toolbar>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!-- ID Column -->
  <ng-container matColumnDef="line">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element; let index = index">
      {{ index + 1 }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by type"
    >
      Type
    </th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by category"
    >
      Category
    </th>
    <td mat-cell *matCellDef="let element">{{ element.category }}</td>
  </ng-container>

  <!-- Download Column -->
  <ng-container matColumnDef="download">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a href="http://localhost:3200/{{ element.path }}" target="_blank">
        <button mat-flat-button>
          <mat-icon color="primary">cloud_download</mat-icon>
        </button>
      </a>
    </td>
  </ng-container>

  <!-- Update Column -->
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button (click)="openDialog(element)">
        <mat-icon color="primary">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button (click)="openDialogDelete(element)">
        <mat-icon color="warn">delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
