<h1 mat-dialog-title>{{ "New File" | uppercase }}</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="data.type">
        <mat-option *ngFor="let type of types" value="{{ type.name }}">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="data.category">
        <mat-option
          *ngFor="let category of categories"
          value="{{ category.name }}"
        >
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <button type="button" mat-raised-button (click)="fileInput.click()">
      Choose File
    </button>
    <input
      hidden
      (change)="onFileSelected($event)"
      #fileInput
      type="file"
      id="file"
    />
    <!-- <input (change)="onFileSelected($event)" #fileInput type="file" id="file" /> -->
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button (click)="submitDialog()" cdkFocusInitial>Save</button>
</div>
