<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-icon aria-hidden="false" aria-label="home" fontIcon="camera"></mat-icon>
  &nbsp; FileManager
  <span class="fill-remaining-space"></span>
  <button mat-flat-button color="primary" routerLink="/files/">Files</button>
  <button mat-flat-button color="primary" routerLink="/types/">Types</button>
  <button mat-flat-button color="primary" routerLink="/categories/">
    Categories
  </button>
  <button mat-flat-button color="primary" (click)="onSignout()">Logout</button>
</mat-toolbar>
