<mat-toolbar color="primary" class="mat-elevation-z8">
  <section>
    <div>
      <button mat-flat-button color="primary">
        <mat-icon
          aria-hidden="false"
          aria-label="home"
          fontIcon="camera"
        ></mat-icon>
        FileManager
      </button>
      <button mat-flat-button color="primary" routerLink="/files/">
        Files
      </button>
      <button mat-flat-button color="primary" routerLink="/types/">
        Types
      </button>
      <button mat-flat-button color="primary" routerLink="/categories/">
        Categories
      </button>
      <button mat-flat-button color="primary" (click)="onSignout()">
        Logout
      </button>
    </div>
  </section>
</mat-toolbar>
